<div class="row mb-3">
  <div class="col-md-4">
    <div class="card">
      <div class="image-container">
        <img
          src="images/1.jpg"
          class="img" alt="Galaxy Stars">
      </div>
      <div class="card-body">
        <h5 class="card-title">Mysteries of Spiral Galaxies</h5>
        <p class="card-text">Spiral galaxies, with their swirling arms, are home to billions of stars and cosmic dust, creating breathtaking views across the universe.</p>
        <a routerLink="/noticia-detalhe/1" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="image-container">
        <img src="images/2.jpg" class="img"
          alt="Galaxy Nebula">
      </div>
      <div class="card-body">
        <h5 class="card-title">The Beauty of Nebulae</h5>
        <p class="card-text">Nebulae are vast clouds of gas and dust where new stars are born, painting the galaxy with vibrant colors and shapes.</p>
        <a routerLink="/noticia-detalhe/2" class="btn btn-primary">Discover More</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="image-container">
        <img src="images/3.jpg"
          class="img" alt="Galaxy Cluster">
      </div>
      <div class="card-body">
        <h5 class="card-title">Exploring Galaxy Clusters</h5>
        <p class="card-text">Galaxy clusters are massive structures containing hundreds of galaxies, bound together by gravity and dark matter.</p>
        <a routerLink="/noticia-detalhe/3" class="btn btn-primary">Explore</a>
      </div>
    </div>
  </div>
</div>
