<!-- 404 Container -->
<div class="container">
  <!-- Particles (Multiple spans) -->
  <span class="particle" *ngFor="let i of particles"></span>

  <!-- Content Section -->
  <article class="content">
    <p>Damnit stranger,</p>
    <p>You got lost in the <strong>404</strong> galaxy.</p>
    <p>
      <!-- ng-bootstrap Button -->
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="goBackToEarth()"
      >
        Go back to earth
      </button>
    </p>
  </article>
</div>
