<div class="container mt-5">
  @if (produto) {
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Obrigado por comprar {{ produto.nome }}!</h5>
        <p class="card-text">Preço: R$ {{ produto.preco }}</p>
        <p class="card-text">Descrição: {{ produto.descricao }}</p>
        <p class="card-text">
          <span [ngClass]="{'text-success': produto.emEstoque, 'text-danger': !produto.emEstoque}">
            {{ produto.emEstoque ? 'Em estoque' : 'Esgotado' }}
          </span>
        </p>
      </div>
    </div>
  } @else {
    <div class="alert alert-danger">
      Produto não encontrado.
    </div>
  }
</div>
