<div class="container border shadow rounded-4 mt-5 p-2">
  <div class="row mt-4">
    <div class="col-md-10">
      <input class="form-control" [(ngModel)]="nome" type="text" placeholder="Pesquisar cliente"
        aria-label="cliente-input">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-outline-primary me-3">Buscar</button>
      <button type="button" class="btn btn-outline-primary"
        onmouseover="document.getElementsByName('plus-circle')[0].style.fill='white'"
        onmouseout="document.getElementsByName('plus-circle')[0].style.fill='var(--bs-primary)'">
        <svg name="plus-circle" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="var(--bs-primary)"
          class="bi bi-plus-circle icon" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
        </svg>
        Novo
      </button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="align-middle">ID</th>
            <th class="align-middle">Foto</th>
            <th class="align-middle">Nome</th>
            <th class="align-middle">Cidade</th>
            <th class="align-middle">Ações</th>
          </tr>
        </thead>
        <tbody>
          @for (cliente of clientes; track cliente.id) {
          <tr (mouseover)="selecionarCliente(cliente)" (mouseout)="selecionarCliente(null)">
            <td class="align-middle">{{ cliente.id }}</td>
            <td class="align-middle"><img [src]="cliente.imagem" alt="{{ cliente.nome }}" class="img-thumbnail" width="75"></td>
            <td class="align-middle"
                [ngStyle]="{'background-color': cliente.nome?.toLowerCase()?.startsWith(nome.toLowerCase().slice(0,3)) && nome.length >= 3 ? 'lightblue' : 'transparent'}">
              {{ cliente.nome }}</td>
            <td class="align-middle" [ngClass]="{'SaoPaulo': cliente.cidade === 'São Paulo'}">{{ cliente.cidade }}</td>
            <td class="align-middle">
              <button class="btn btn-sm btn-outline-secondary me-2">Editar</button>
              <button class="btn btn-sm btn-outline-danger">Excluir</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-3">
    @if (clienteSelecionado) {
    <div class="col">
      <h3>Detalhes do Cliente</h3>
      <p><strong>ID:</strong> {{ clienteSelecionado.id }}</p>
      <p><strong>Nome:</strong> {{ clienteSelecionado.nome }}</p>
      <p><strong>Cidade:</strong> {{ clienteSelecionado.cidade }}</p>
    </div>
    }
  </div>
</div>
