<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a routerLink="app-calcular-media" routerLinkActive="active" class="nav-link">Calcular Média</a></li>
    <li class="nav-item"><a routerLink="app-apolice-seguro" routerLinkActive="active" class="nav-link">Apólice de Seguro</a></li>
    <li class="nav-item"><a routerLink="app-conversor-temperatura" routerLinkActive="active" class="nav-link">Conversor de Temperatura</a></li>
    <li class="nav-item"><a routerLink="app-calculadora-imc" routerLinkActive="active" class="nav-link">Calculadora de IMC</a></li>
  </ul>
</header>
